{% extends 'base.html' %}


{% block title %}
    Start Work
{% endblock title %}
    

{% block content %}
    <form action="/activities/start" method="POST">
        {% csrf_token %}
        <label for="job">Job Number:</label>
        <input name="job" type="text">
        <input name="" type="text">
        <select name="" id=""></select>
            <option value="cleaning">Cleaning</option>
            <option value="polishing">Polishing</option>
            <option value="setting">Setting</option>
        <button type="submit">Start Job</button>
    </form>
    <p>Test</p>
{% endblock content %}
