{% extends 'base.html' %}
   

{% block content %}
    
<div class="filter_box">
    <form method="get" action="">
        {{filter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
    

{% if style_list %}
    
    <div class="container">
        <table class="index_table">
            <tr>
                <td>Style Name</td>
                <td>Product Type</td>
            </tr>
            
            {% for style in style_list %}
            <tr>
                <td>{{ style.name }}</td>
                <td>{{ style.product }}</td>
            </tr>
            {% endfor %}
                
        </table>
    </div>

{% endif %}
    
    <a href="{% url 'culet:style_create' %}"><button>Add Style</button></a>
    <a href="{% url 'culet:job_create' %}"><button>Create New Job</button></a>

    {% endblock content %}