<div id="my_nav">
    <div class="links_left">

        {% if user.employee.role_fk.name != 'Hourly' %}
                <a class='nav_link' href="{% url 'culet:home' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                    <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6zm11.386 3.785-1.806-2.41-.776 2.413zm-3.633.004.961-2.989H4.186l.963 2.995zM5.47 5.495 8 13.366l2.532-7.876zm-1.371-.999-.78-2.422-1.818 2.425zM1.499 5.5l5.113 6.817-2.192-6.82zm7.889 6.817 5.123-6.83-2.928.002z"/></svg>
                </a>  
        {% endif %}
            
        <!-- Removed in favor of django-filter which filters Jobs list view -->
        <!-- <a class='nav_link' href="{% url 'culet:activities_index' %}">Active Jobs</a> -->

        
        {% if user.employee.role_fk.name != 'Manager' %}
                <a class='nav_link' href="{% url 'culet:my_jobs' %}">My Jobs</a>   
                <a href="{% url 'culet:receive_list' %}" class="nav_link">Receive Jobs</a>
                <a href="{% url 'culet:return_job' %}" class="nav_link">Return Jobs</a>
        {% endif %}
            
        
    </div>
    <div class="links_right">
        {% if user.is_authenticated %}
            <a class="nav_link" href="{% url 'culet:my_jobs' %}">Welcome, {{user.first_name}}</a>
                
                {% if user.employee.role_fk.requires_clock_in %}
                        
                    {% if user.employee.clocked_in == True %}
                    <!-- <a class="tc_button btn btn-danger" href="{% url 'culet:clock_out' %}">Clock Out</a>-->
                        <form method="post" action="{% url 'culet:clock_out' %}">
                            {% csrf_token %}

                            <button
                                type="submit"
                                class="btn btn-danger"
                                onclick="return confirm('Clock out? All jobs you currently have in work will be stopped.');"
                            >
                                Clock Out
                            </button>
                        </form>
                    {% else %}
                        <a class="tc_button btn btn-success" href="{% url 'culet:clock_in' %}">Clock In</a>
                    {% endif %}
                    
                {% endif %}


                <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="link" class="nav_link logout">Logout</button>
                </form>
        {% else %}
                <a class="nav_link" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>    
</div>