<div id="my_nav">
    <div class="links_left">

        {% if user.employee.role_fk.name != 'Hourly' %}
                  <a class='nav_link' href="{% url 'culet:home' %}">Home</a>  
        {% endif %}
            
        <!-- Removed in favor of django-filter which filters Jobs list view -->
        <!-- <a class='nav_link' href="{% url 'culet:activities_index' %}">Active Jobs</a> -->

        
        {% if user.employee.role_fk.name != 'Manager' %}
                <a class='nav_link' href="{% url 'culet:my_jobs' %}">My Jobs</a>   
                <a href="{% url 'culet:receive_list' %}" class="nav_link">Receive Jobs</a>
        {% endif %}
            
        
    </div>
    <div class="links_right">
        {% if user.is_authenticated %}
            <a class="nav_link" href="{% url 'culet:my_jobs' %}">Welcome, {{user.first_name}}</a>
                
                {% if user.employee.role_fk.requires_clock_in %}
                        
                    {% if user.employee.clocked_in == True %}
                    <!-- <a class="tc_button btn btn-danger" href="{% url 'culet:clock_out' %}">Clock Out</a>-->
                        <form method="post" action="{% url 'culet:clock_out' %}">
                            {% csrf_token %}

                            <button
                                type="submit"
                                class="btn btn-danger"
                                onclick="return confirm('Clock out? All jobs you currently have in work will be stopped.');"
                            >
                                Clock Out
                            </button>
                        </form>
                    {% else %}
                        <a class="tc_button btn btn-success" href="{% url 'culet:clock_in' %}">Clock In</a>
                    {% endif %}
                    
                {% endif %}


                <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="link" class="nav_link">Logout</button>
                </form>
        {% else %}
                <a class="nav_link" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>    
</div>