<div id="my_nav">
    <div class="links_left">
        <a class='nav_link' href="{% url 'culet:index_job' %}">Jobs</a>
        <!-- Removed in favor of django-filter which filters Jobs list view -->
        <!-- <a class='nav_link' href="{% url 'culet:activities_index' %}">Active Jobs</a> -->
        
        {% if user.employee.role != "PD" %}
            <a class='nav_link' href="{% url 'culet:assign_job' %}">Assign Job</a>
        {% endif %}
            
        <a class='nav_link' href="{% url 'culet:my_jobs' %}">My Jobs</a>
        <a class='nav_link' href="{% url 'culet:job_create' %}">Create New Job</a>
        <a class='nav_link' href="{% url 'culet:index_style' %}">Styles</a>
        <a class='nav_link' href="{% url 'culet:style_create' %}">Create New Style</a>
        <a class='nav_link' href="{% url 'culet:reporting' %}">Reporting</a>
    </div>
    <div class="links_right">
        {% if user.is_authenticated %}
            <a class="nav_link" href="{% url 'culet:my_jobs' %}">Welcome, {{user.first_name}}</a>
            {% if user.employee.clocked_in == True %}
            <a class="tc_button btn btn-danger" href="{% url 'culet:clock_out' %}">Clock Out</a>        
            {% else %}
                <a class="tc_button btn btn-success" href="{% url 'culet:clock_in' %}">Clock In</a>
            {% endif %}
                <a class="nav_link" href="{% url 'logout' %}">Log Out</a>
        {% else %}
                <a class="nav_link" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>    
</div>