{% extends 'base.html' %}


{% block content %}


<h1 class="barcode">
    *{{ job.job_num}}*
</h1>

<div class="card mb-3">
    <div class="card-img-top">{{ job.job_num }}</div>
    <div class="card-body">
      <h5 class="card-title">job.job_num</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

<h1>{{ job.name }}</h1>
<ul>
    <li>{{ job.customer }}</li>
    <li>{{ job.job_num }}</li>
</ul>


<a href="{% url 'culet:job_update' job.id %}"><button>Edit Job Details</button></a>

<a class="button" href="{% url 'culet:index_job' %}"><button>Back</button></a>
    

<br>
<br>
<br>
<br>

<table>
    <th>
        <td>Assigned To</td>
    </th>
    <tr>
        <td>{{ job.assigned_to }}</td>
    </tr>
</table>

<table>
    <th>
        <td>Activity</td>
        <td>Start Time</td>
    </th>
    {% for act in activity %}
        <tr>
            <td>{{ act.name }}</td>
            <td>{{ act.start }}</td>
            <td>{{ act.end }}</td>
            
            
            {% if act.active == False %}
                <td></td>
            {% else %}
                <td><a href="{% url 'culet:stop_work' pk=act.id job_id=job.id %}"><button>Stop Work</button></a></td>                
            {% endif %}
                

        </tr>
    {% endfor %}
        
</table>



{% endblock content %}
