{% extends 'base.html' %}


{% block content %}

<div class="card" style="width:60%;">
    <div class="card-featured">
        <h1 class="barcode">*{{ job.job_num}}*</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{job.job_num}}</h5>
      <p class="card-text">Due: {{job.due}}</p>
      <p class="card-text">Customer: {{job.customer}}</p>
      <p class="card-text">Style: {{job.style}}</p>
      <p class="card-text">Assigned To: {{job.assigned_to}}</p>
      <p class="card-text">Current Holder: {{job.location}}</p>

      <p class="card-text"><small class="text-muted">Last updated {{job.last_updated}}</small></p>
      <div class="card-footer">
        <a class="btn btn-primary" href="{% url 'culet:job_update' job.id %}">Edit Job Details</a>

        <a class="btn btn-warning" href="{% url 'culet:index_job' %}">Back</a>
      </div>
    </div>
  </div>

<br>

<table class="index_table job_index">
    <tr>
        <td>Activity</td>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Employee</td>
        <td>Duration</td>
        <td></td>
    </tr>
    {% for act in activity %}
        <tr>
            <td>{{ act.name }}</td>
            <td>{{ act.start }}</td>
            <td>{{ act.end }}</td>
            <td>{{ act.employee }}</td>
            <td>{{ act.duration_hours }} h {{ act.duration_min }} m</td>
            
            {% if act.active == False %}
                <td></td>
            {% else %}
                <td><a href="{% url 'culet:stop_work' pk=act.id job_id=job.id %}"><button>Stop Work</button></a></td>                
            {% endif %}
                

        </tr>
    {% endfor %}
        
</table>



{% endblock content %}
