{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="filter_box">
    <form method="get" action="">
        {{filter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

    {% if latest_job_list %}
    <div class="container">
        <table class="index_table job_index freeze-row">
            <thead>
                <tr>
                <th class="{% if current_sort == 'barcode' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.barcode }}">
                        Barcode
                        {% with field="barcode" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'stock_num' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.stock_num }}">
                        Stock Num
                        {% with field="stock_num" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'name' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.name }}">
                        Name
                        {% with field="name" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'style' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.style }}">
                        Style
                        {% with field="style" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'assigned_to' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.assigned_to }}">
                        Assigned To
                        {% with field="assigned_to" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'holder' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.holder }}">
                        Holder
                        {% with field="holder" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'location' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.location }}">
                        Location
                        {% with field="location" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'customer' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.customer }}">
                        Customer
                        {% with field="customer" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                <th class="{% if current_sort == 'due' %}sorted-column{% endif %}">
                    <a href="?{{ sort_links.due }}">
                        Due Date
                        {% with field="due" %}
                            {% include "includes/sort_arrow.html" %}
                        {% endwith %}
                    </a>
                </th>
                </tr>
            </thead>
            <tbody>
            {% for job in latest_job_list %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even_row{% else %}odd_row{% endif %}">
                        <td><a href="{% url 'culet:job_detail' job.id %}">{{ job.barcode }}</a></td>
                        <td>{{ job.stock_num }}</td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.style }}</td>
                        <td>
                            {% if job.assigned_to %}
                                {{job.assigned_to}}
                            {% endif %}
                        </td>
                        <td>{{ job.holder }}</td>
                        <td>{{ job.location }}</td>
                        <td>{{ job.customer }}</td>
                        <td {% if job.is_past_due%}class="past_due"{% elif job.is_near_due %}class="near_due"{% endif %}>{{ job.due }}</td>
                        
                    </tr>
            </tbody>    
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No jobs found matching set search parameters.</p>
    {% endif %}

    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">

            {% if page_obj.has_previous %}
                <a href="?{% if query_params %}{{ query_params }}&{% endif %}page=1">&laquo; first</a>
                <a href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
                <a href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

        </span>
    </div>
    {% endif %}

{% endif %}
    
    

{% endblock content %}