{% extends 'base.html' %}

{% block content %}
<div class="filter_box">
    <form method="get" action="">
        {{filter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
{% if user.is_authenticated %}

    {% if latest_job_list %}
    <div class="container">
        <table id="job_index">
            <tr>
                <td>Number</td>
                <td>Name</td>
                <td>Style</td>
                <td>Assigned To</td>
                <td>Customer</td>
                <td>Due Date</td>
            </tr>
            {% for job in latest_job_list %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even_row{% else %}odd_row{% endif %}">
                        <td><a href="{% url 'culet:job_detail' job.id %}">{{ job.job_num }}</a></td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.style }}</td>
                        <td>
                            {% if job.assigned_to %}
                                {{job.assigned_to}}
                            {% endif %}
                        </td>
                        <td>{{ job.customer }}</td>
                        <td {% if job.is_past_due%}class="past_due"{% else %}{% endif %}>{{ job.due }}</td>
                        
                    </tr>
                
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No jobs found matching set search parameters.</p>
    {% endif %}

{% endif %}
    
    

{% endblock content %}