{% if latest_job_list %}

    <table class = "index">
        <thead>Jobs</thead>
        <tr>
            <td>Number</td>
            <td>Name</td>
            <td>Style</td>
            <td>Customer</td>
        </tr>
        {% for job in latest_job_list %}
            <tr>
                <td>{{ job.job_num }}</td>
                <td><a href="{% url 'culet:detail' job.id %}">{{ job.name }}</a></td>
                <td>{{ job.style }}</td>
                <td>{{ job.customer }}</td>
            </tr>
        {% endfor %}
    </table>
   
{% else %}
    <p>No jobs are available.</p>
{% endif %}