{% extends 'base.html' %}

{% block content %}
    
{% if user.is_authenticated %}

<form action="{% url 'culet:receive' %}" method="POST">
    {% csrf_token %}
    <input name="job" type="text">
    <button type="submit">Receive Job</button>
</form>

{% if messages %}
    <ul class="messages">
        
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
            
    </ul>
{% endif %}

    {% if latest_job_list %}

        <table class="index_table job_index">
            <tr>
                <td>Number</td>
                <td>Name</td>
                <td>Style</td>
                <td>Customer</td>
                <td>Due Date</td>
                <td>Active</td>
            </tr>
            {% for job in latest_job_list %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even_row{% else %}odd_row{% endif %}">
                        <td><a href="{% url 'culet:job_detail' job.id %}">{{ job.job_num }}</a></td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.style }}</td>
                        <td>{{ job.customer }}</td>
                        <td {% if job.is_past_due%}class="past_due"{% else %}{% endif %}>{{ job.due }}</td>
                        <td>{{ job.active }}</td>
                    </tr>
                
            {% endfor %}
        </table>
    
    {% else %}
        <p>No jobs are available.</p>
    {% endif %}

{% endif %}


{% if user.employee.clocked_in == True %}    
    <form action="/culet/activities/start" method="POST">
        {% csrf_token %}
        <input name="job" type="text">
        <select name="name" id="">
            <option value="cleaning">Cleaning</option>
            <option value="polishing">Polishing</option>
            <option value="setting">Setting</option>
        </select>
        <button type="submit">Start Job</button>
    </form>
{% else %}
    Plese Clock In to Start Work
{% endif %}

{% endblock content %}