{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

  {% if receive_list %}
    <form method="POST"
        action="{% url 'culet:receive_all' %}"
        onsubmit="return confirm('Receive all jobs currently in your queue?');">
        {% csrf_token %}
        <button class="primary-btn" type="submit">
            Receive All Jobs
        </button>
    </form>

    <table class="index_table job_index">
      <tr>
        <th>Number</th>
        <th>Stock Number</th>
        <th>Style</th>
        <th>Customer</th>
        <th>Due Date</th>
        <th>Active</th>
        <th>Receive</th>
      </tr>

      {% for job in receive_list %}
        <tr>
          <td><a href="{{ job.get_absolute_url }}">{{ job.barcode }}</a></td>
          <td>{{ job.stock_num }}</td>
          <td>{{ job.style }}</td>
          <td>{{ job.customer }}</td>
          <td>{{ job.due }}</td>
          <td>{{ job.active }}</td>
          <td>
            <form method="POST"
                action="{% url 'culet:receive' %}"
                onsubmit="return confirm('Receive job {{ job.job_num }}?');">
                {% csrf_token %}
                <input type="hidden" name="job_id" value="{{ job.id }}">
                <button class="primary-btn" type="submit">
                    Receive Job
                </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>No jobs are available.</p>
  {% endif %}

{% endif %}
{% endblock content %}