{% extends 'base.html' %}


{% block title %}
    Edit Job
{% endblock title %}
    

{% block content %}
<h1>Edit Job {{ object }}</h1>

<form method="post">
  {% csrf_token %}

  <fieldset>
    <legend>Job Header</legend>
    {{ form.as_p }}
  </fieldset>

  <h2>Metal Requirements</h2>
  {{ metal_formset.management_form }}
  {% for f in metal_formset %}
    <div class="metal-row">{{ f.as_p }}</div>
  {% endfor %}

  <h2>Stone Requirements</h2>
  {{ stone_formset.management_form }}
  {% for f in stone_formset %}
    <div class="stone-row">{{ f.as_p }}</div>
  {% endfor %}

  <button type="submit">Save Changes</button>
</form>
{% endblock content %}
