body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #1E1E1E; */
    margin: 0;
}

table{
    padding: 1em;
    margin: 1em;
    /* background-color: #454545;
    color: white; */
    border-radius: .5em;
}

.filter_box{
    background-color: #345e37;
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* .odd_row{
    background-color: #2d2d2d;
} */

.nav_link {
    text-decoration: none;
    padding: 1em;
    color: #e0e0e0;
}

.nav_link:hover{
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-decoration: none;
    color: #0D1F2D !important;
    border-radius: .5em;
}

#my_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    background-color: #2d2d2d;
}

.links_left{
    display: flex;
    align-self: flex-end;
}

.links_right{
    display: flex;
    align-self: flex-end;
}

#job_index{
    padding: 15px;
    text-align: center;
    width: 80%;
    align-self: center;
    border-spacing: 0;
}

#job_index th{
    font-size: 15px;
}

#job_index td{
    border-bottom: .1em solid;
    border-color: rgb(0, 0, 0);
    padding: 1em;
}

.past_due{
    background-color: #FF3D3D;
    color: white;
}

.barcode {
    font-feature-settings: "calt" 1;
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
#eantest{
        font-family: "Libre Barcode EAN13 Text", system-ui;
        font-weight: 400;
        font-size: 10em;
        font-style: normal;   
        margin: 0;
}

.radio_employee_select input[type="radio"]{
    display: none;
}

.radio_employee_select label{
    display:inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    cursor: pointer;
    border-radius: 2em;
}

.radio_employee_select input[type="radio"]:checked+label {
    background-color: blue;
    color: white;
}

.messages{
    display: flex;
    align-items: stretch;
}

.success{
    align-items: stretch;
    padding: 1em;
    list-style: none;
    color: green;
    background-color: rgb(139, 255, 139);
}