{% extends 'base.html' %}
   

{% block content %}
    
<div class="filter_box">
    <form method="get" action="">
        {{filter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
    

{% if metallot_list %}
    
    <div class="container">
        <table class="index_table">
            <tr>
                <td>Lot Number</td>
                <td>Date Received</td>
                <td>Part</td>
                <td>Qty</td>
            </tr>
            
            {% for metal_lot in metallot_list %}
            <tr>
                <td><a href="{% url 'culet:metallot_detail' metal_lot.id %}">{{ metal_lot.lot_num }}</a></td>
                <td>{{ metal_lot. }}</td>
                <td>{{metal_lot.part}}</td>
                <td>{{metal_lot.qty_on_hand}}</td>
            </tr>
            {% endfor %}
                
        </table>
    </div>

{% endif %}
    

    {% endblock content %}