{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Memos</h1>

{% url "culet:memo_list" as clear_url %}

{% include "includes/filter_panel.html" with filter_form=form filter_errors=form.errors filter_title="Filter Memos" filter_subtitle="Filter memos by type, assigned employee, or creation date." filter_clear_url=clear_url %}

    <br>

    {% if memo_rows %}
        <table class="index_table">
            <tr>
                <th>Type</th>
                <th>Memo #</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Assigned To</th>
                <th>Actions</th>
            </tr>

            {% for memo in memo_rows %}
                <tr>
                    <td>{{ memo.type }}</td>
                    <td>{{memo.id}} {{ memo.memo_num }}</td>
                    <td>{{ memo.created_at }}</td>
                    <td>{{ memo.created_by }}</td>
                    <td>{{ memo.assigned_to|default:"-" }}</td>
                    <td>
                        <a href="{{ memo.detail_url }}" class="btn btn-primary">
                            View Memo
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No memos found.</p>
    {% endif %}
</div>
{% endblock %}