{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <table class="index_table" id="summary_table">
        <tr>
            <td>Average Time</td>
            <td>Total Time</td>
        </tr>
        <tr>
            <td>{{ avg_time }}</td>
            <td>{{ total_time }}</td>
        </tr>
    </table>
</div>

<div class="filter_box">
    <form method="get" action="">
        {{filter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>


    {% if activities %}
    <div class="container">
        <table class="index_table job_index" id="job_index">
            <tr>
                <td>Operation</td>
                <td>Job</td>
                <td>Style</td>
                <td>Employee</td>
                <td>Start</td>
                <td>End</td>
                <td>Duration (Hours)</td>
            </tr>
            
            {% for act in activities %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even_row{% else %}odd_row{% endif %}">
                        <td>{{ act.name|title }}</td>
                        <td>{{ act.job }}</td>
                        <td>{{ act.job.style }}</td>
                        <td>{{ act.employee }}</td>
                        <td>{{ act.start }}</td>
                        <td>{{ act.end }}</td>
                        <td>
                            {% if act.duration_hours != 0 %}
                                {{ act.duration_hours }} h
                            {% endif %}
                                {{ act.duration_min }} min
                        </td>
                    </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No jobs found matching set search parameters.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endif %}
    
    

{% endblock content %}